/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: auto;
}
/***********LINK************/
a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: inherit;
}

/***********HEADER************/
header {
    width: 97%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

#logo_header img {
    display: flex;
    align-items: flex-start;
    width: 3.81rem;
    padding: 1.88rem;
}

#nav_header {
    width: 17.4rem;
    display: flex;
    justify-content: space-around;
    padding: 0rem 1.6rem;
}

.nav_link {
    width: 7.1rem;
    height: 2.2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-top: 0.125rem solid transparent;
}

.nav_link:hover {
    border-top: 0.125rem solid var(--main-color);
    color: var(--main-color);
    transition: 0.4s;
}

/***********leading info block************/

h1 {
    font-size: 1.375rem;
}

#leading_info { /**<h1> to "logements description"**/
    display: flex;
    flex-direction: column;
    gap: 1.88rem;
    width: 83.75rem;
    height: auto;
    margin: 2.19rem;
}

.prime_info {
    height: 4.3rem; 
}

/**search form**/

.fa-location-dot {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.geo_search {
    display: flex;
    width: 23.56rem;
    height: 3.06rem;
}

.location_icon_block {
    width: 3.12rem;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 0.93rem 0 0 0.93rem;
}

#search {
    border: 1px solid #f2f2f2;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

#search:focus {
    outline-width: 0;
}

#search::placeholder {
    font-weight: 400;
}

.search_button {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border-radius: 0 0.93rem 0.93rem 0;
    border: 1px solid var(--main-color);
    padding: 0.93rem 1rem;
    font-size: 1rem;
}

.search_button .fa-magnifying-glass {
    display: none;
}

.search_button:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transition: 0.3s;
    cursor: pointer;
}

/**filter bar**/

#filter_bar {
    display: flex;
    gap: 0.93rem;
    font-weight: bold;
    align-items: center;
    width: auto;
}

#filter_bar .all_filter_button {
    display: flex;
    gap: 0.93rem;
}

#filter_bar p {
    font-size: 1.125rem;
}

.filter .filter_button {
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
    border: 2px solid #D9D9D9;
    border-radius: 1.56rem;
    height: 2.9rem;
    background-color: white;
    font-weight: bold;
    font-size: 1.0625rem;
}

.filter:hover .filter_button {
    background-color: var(--filter-bg-color);
    transition: 0.7s;
    cursor: pointer;
}

.filter i {
    margin-right: 0.5rem;
}

/**info**/

.info {
    display: inline-flex;
    gap: 0.625rem;
    align-items: center;
    height: 1.5rem;
    margin: 0 0 2.188rem 0;
}

.fa-info {
    display: flex;
    justify-content: center;
    border: 1px solid #f2f2f2;
    border-radius: 0.8rem;
    line-height: 1.5rem;
    width: 1.5rem;
}

/***********leading info block END************/

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 3.125rem;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 1.375rem;
}

.card {
    background-color: white;
    border-radius: 1.25rem;
    padding: 0.313rem;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 1.25rem;
    padding: 1.875rem 1.875rem 0 1.875rem;
    box-sizing: border-box;
}

.neutral-star {
    color:#F2F2F2;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h2 {
    margin: 0;
}

.main_card_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.688rem, 1fr));
    grid-gap: 1.88rem;
    margin: 1.88rem 0 1.88rem 0;
}

.main_card a {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1.25rem;
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    padding: 0.3rem;
}

.main_card:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.main_card_info {
    padding: 0 0.94rem 0 0.94rem;
}

.main_card_content h3 {
    font-size: 1rem;
    margin: 0.65rem 0 0 0;
}

.main_card_content p {
    font-size: 0.875rem;
    margin: 0.5rem 0 0 0;
}

.main_card i {
    margin: 0.8rem 0 0.9rem 0;
    font-size: 0.8rem;
}

.main_card img {
    height: 7rem;
    width: auto;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

.button_more {
    display: inline-flex;
    border: none;
    font-size: 1.125rem;
    font-weight: bold;
    padding: 0.7rem 0 0 0;
    background-color: transparent;
}

.button_more:hover {
    cursor: pointer;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1.875rem 0;
}

.card {
    margin-bottom: 1.875rem;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.populaires-cards a {
    display: flex;
}

.card-txt {
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
}

.card-txt h3 {
    margin: 1rem 0 0 0;
}

.card-txt p {
    margin: 0;
}

.populaires-cards img {
    width: 33%;
    height: 8.5rem;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 0.938rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title a {
    margin-top: 0.625rem;
    margin-bottom: 0.25rem;
}

.populaires-cards .card-subtitle a {
    margin: 0;
}

.populaires-cards .card-rating a {
    margin-bottom: 0.313rem;
}

/***********Activiy_section************/

.all_activity {
    display: grid;
    /**grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));**/
    grid-template-columns: repeat(4, 24%);
    grid-gap: 1.2rem;
    padding-top: 1.875rem;
}

.activity_main {
    padding: 1.87rem;
}

.activity_card_box a {  
    height: 28rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    background-color: white;
}

.activity_card_box a:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.activity_card_txt h3 {
    font-size: 1rem;
    padding: 0 0 0 0.8rem;
}

.activity_card_box img {
    height: 23.75rem;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

/***********Footer************/

#footer_all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--main-bg-color);
    width: 100%;
    height: auto;
}

.footer_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.25rem;
}

.footer_column h3 {
    margin: 0;
}

.footer_link {
    padding: 0.938rem 0 0 0;
}

.footer_link:hover {
    color: var(--main-color);
    transition: 0.4s;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    header {
        width: 100%;
    }
    
    #logo_header img {
        padding: 1.88rem 3.125rem 1.88rem 3.125rem;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    #leading_info {
        margin: 0 3.125rem 0 3.125rem;
    }

    #filter_bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements .main_card a {
        display: flex;
        flex-direction: column;
    }

    .button_more {
        padding: 0 0 1.875rem 0;
    }

    .populaires {
        width: 100%;
        margin-top: 3.125rem;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .all_activity {
        grid-template-columns: repeat(auto-fit, minmax(7.688rem, 1fr));
    }

    .activity_card_box .activity_card {
        max-width: 12.093rem;
    }

    .activity_card_box a {
        height: auto;
    }

    .activity_card_box img {
        height: 12.5rem;
    }

    .activity_card_txt {
        min-height: 4.375rem;
        display: flex;
        align-items: center;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin: 0;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    #header_logo {
        padding: 1.875rem;
    }

    #nav_header {
        width: 100%;
        padding: 0;
    }

    .nav_link {
        height: auto;
        width: auto;
        padding: 0 0 0.938rem 0;
        border-bottom: 0.125rem solid var(--main-bg-color);
    }
    
    .nav_link:hover {
        border-top: none;
        border-bottom: 0.125rem solid var(--main-color);
    }

    #lodgin_link {
        width: 50%;
    }

    #activity_link {
        width: 50%;
    }

    .prime_info {
        padding-top: 1.875rem;
    }

    .prime_info h1 {
        margin: 0;
    }

    .main-container {
        padding: 0;
    }

    #leading_info {
        width: 100%;
    }

    .geo_search {
        margin: 2.188rem 0 0 0.438rem;
        justify-content: center;
        width: auto;
        max-width: 20.93rem;
        border: 1px solid #f2f2f2;
        border-radius: 0.93rem;
    }

    .location_icon_block {
        width: 4.5rem;
    }

    .search_button {
        font-size: 0;
        border-radius: 0.93rem;
    }

    .search_button .fa-magnifying-glass {
        display: inline-block;
        font-size: 1rem;
        color: white;
    }

    #search {
        width: 100%;
        border: transparent;
    }

    .filter_txt p {
        margin: 0;
    }

    #filter_bar .all_filter_button {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .filter_button {
        width: 9.125rem;
    }

    .filter .filter_button {
        font-size: 0.825rem;
        padding: 0 0 0 1rem;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements_title {
        width: 19rem;
    }

    .hebergements {
        background-color: white!important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_card_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_card {
        width: 17.688rem;
        height: 12.5rem;
        max-width: none;
    }

    .button_more {
        width: 18rem;
    }

    .populaires {
        border-radius: 0%!important;
        margin-top: 0;
    }

    .populaires-title {
        justify-content: space-evenly;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .populaires-cards .card {
        width: 17.688rem;
    }

    .activity_main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .all_activity {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activity_card_box .activity_card {
        width: 17.688rem;
        height: 12.5rem;
        max-width: none;
    }

    .activity_card_box img {
        height: 8.813rem;
    }

    .activity_card_txt {
        min-height: 0;
    }

    #footer_all {
        display: flex;
        flex-direction: column;
    }
}